body{
background-color: #D3D3D3;
}
ul{
    list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: none;
    background-color: none;
}
li{
    float: left;
    border-right: 1px solid none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    background-color: #3a3636;
}
li a:hover:not(.active){
    background-color: #111;
}
.active{
    background-color: #4CAF50;
}